<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat bot</title>
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> 
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="right">
				<div class="top">
					<span>To: <span class="name">Chat Bot</span></span>
				</div>
				<div id="chat" class="chat" data-chat="person">
				</div>
				<div id="writeBlock">
					<div class="write">
						<input type="text" id="message_box" />
						<a href="javascript:;" class="write-link send" id="send" onclick="sendMessage();"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>	
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>