<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chat bot</title>
    <link href="{{url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='css.css')}}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='js.js')}}"></script>
</head>
<body>
    <center>
        <div id="chat_box" style="width: 500px"></div>
        <div>
            <input type="text" id="message_box">
            <button onclick="send_message(document.getElementById('message_box').value)">emit.</button>
        </div>
    </center>
</body>
</html>